<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>101-hbnb</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/scripts/101-hbnb.js"></script>
</head>
<body>
    <ul>
        <!-- Add checkbox inputs for States -->
        <li>
            <input type="checkbox" data-id=":state_id" data-name=":state_name">
            State Name
        </li>
        <!-- Add checkbox inputs for Cities -->
        <li>
            <input type="checkbox" data-id=":city_id" data-name=":city_name">
            City Name
        </li>
        <!-- Add more <li> elements for other States and Cities -->
    </ul>
    <div id="Locations">
        <h4>Selected Locations:</h4>
        <!-- Location list dynamically updated by JavaScript -->
    </div>
    <div id="Reviews">
        <h2>Reviews<span id="toggleReviews" onclick="toggleReviews()">show</span></h2>
        <!-- Reviews will be dynamically added here -->
    </div>
    <button id="searchButton">Search</button>
</body>
</html>

